body{
    display: flex;
    margin: 0px;
    background-color: rgb(13, 49, 49);
    justify-content: center;
}
#logo{
    display: flex;
    background-image: url(./imagens/Carolina.gif);
    width: 500px;
    height: 500px;
    margin-top: 50px;
    border-radius: 100%;
    box-shadow: rgba(255, 255, 255, 0.589) 0px 0px 20px -7px;
}